/* -------------------------------------------------
  Large Screen. 
---------------------------------------------------*/
@media (min-width: 1367px) and (max-width: 1920px) {
    .mobile-menu-area {
        display: none;
    }
}

/* -------------------------------------------------
  Laptop Screen 
---------------------------------------------------*/
@media (min-width: 1170px) and (max-width: 1366px) {
    .mobile-menu-area {
        display: none;
    }

    .contact-section {
        background: rgba(0, 0, 0, 0) linear-gradient(to right, #ffffff 66%, #f8f8f8 24%) repeat scroll 0 0;
    }
}

/* -------------------------------------------------
  Old Desktop
---------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1169px) {
    .container {
        width: 970px
    }

    .mobile-menu-area {
        display: none;
    }

    .portfolio-4-column .portfolio-item {
        width: 33.3333%;
    }

    .portfolio-5-column .portfolio-item {
        width: 33.3333%;
    }

    .portfolio-1-column .portfolio-item {
        width: 50%;
    }

    .portfolio-fullwidth .portfolio-filter-wrap {
        margin-left: 3%;
    }

    .banner-static-content {
        padding: 140px 0;
    }

    .xboot-standard-row {
        padding: 100px 0;
    }

    .meta-info>li {
        margin-right: 5px;
        padding-left: 10px;
    }

    .footer-top-2 {
        padding: 80px 0;
    }

    .footer-logo-area {
        margin: auto;
        width: 70%;
    }

    .xboot-single-slider {
        padding: 250px 0;
    }

    .slide-two {
        background: rgba(0, 0, 0, 0) url("../img/slider/1.jpg") repeat scroll center center / cover;
    }

    .slider-style-four .xboot-slider-content>h2 {
        font-size: 84px;
    }

    .xboot-slider-area .slick-prev,
    .xboot-slider-area .slick-next {
        bottom: 30px;
        top: auto;
    }

    .xboot-slider-area .slick-slider:hover .slick-prev {
        left: 50%;
        transform: translateX(-30px);
    }

    .xboot-slider-area .slick-prev {
        left: 50%;
        transform: none;
    }

    .xboot-slider-area .slick-next {
        right: 50% !important;
        transform: none;
    }

    .xboot-slider-area .slick-slider:hover .slick-next {
        left: 50%;
        transform: translateX(30px);
    }

    .testimonial-wrapper blockquote {
        padding: 10px 100px;
    }

    .blog-slide-content {
        width: 70%;
    }

    .single-block-option {
        float: left;
        margin-bottom: 0;
        margin-right: 10px;
    }

    .single-block-option:last-child {
        margin: 0;
    }

    .single-block-option>p {
        padding-left: 7px;
    }

    .breadcrumb-area.breadcrumb-bg-img {
        padding: 90px 0;
    }

    .post-content-inner h3 {
        line-height: 24px;
    }

    .contact-section {
        background: rgba(0, 0, 0, 0) linear-gradient(to right, #ffffff 60%, #f8f8f8 40%) repeat scroll 0 0;
    }

    #map {
        height: 400px;
    }
}



/* -------------------------------------------------
  Tablet Screen 
---------------------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 750px
    }

    .portfolio-3-column .portfolio-item {
        width: 50%;
    }

    .portfolio-4-column .portfolio-item {
        width: 50%;
    }

    .portfolio-5-column .portfolio-item {
        width: 50%;
    }

    .portfolio-1-column .portfolio-item {
        width: 50%;
    }

    .banner-static-content {
        padding: 110px 0;
    }

    .xboot-standard-row {
        padding: 90px 0;
    }

    .footer-top {
        padding: 60px 0;
    }

    .logo {
        position: relative;
        z-index: 2;
    }

    .header-style-two .logo {
        border: medium none;
        display: block;
        height: auto;
        line-height: 1;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: left;
        top: 7px;
        width: auto;
    }

    .header-style-two .header-middle-area {
        background: #ffffff none repeat scroll 0 0;
        display: block;
        padding: 0;
    }

    .header-style-two .mean-container .mean-bar {
        margin-top: -70px;
    }

    .header-style-two .logo a {
        line-height: 80px;
        padding-bottom: 10px;
    }

    .slider-style-2 {
        padding: 100px 0;
    }

    .footer-top-2 {
        padding: 80px 0;
    }

    .footer-logo-area {
        margin: auto;
        width: 90%;
    }

    .xboot-single-slider {
        padding: 220px 0;
    }

    .fixed-header-space {
        height: 73px;
    }

    .slide-two {
        background: rgba(0, 0, 0, 0) url("../img/slider/1.jpg") repeat scroll center center / cover;
    }

    .xboot-single-slider::before {
        background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .slide-two {
        background: rgba(0, 0, 0, 0) url("../img/slider/1.jpg") repeat scroll center center / cover;
    }

    .xboot-slider-content>h2 {
        font-size: 30px;
        line-height: 34px;
    }

    .slider-style-four .xboot-single-slider::before {
        display: none;
    }

    .slider-style-four .xboot-slider-content>h2 {
        font-size: 90px;
    }

    .xboot-slider-area .slick-prev,
    .xboot-slider-area .slick-next {
        bottom: 30px;
        top: auto;
    }

    .xboot-slider-area .slick-slider:hover .slick-prev {
        left: 50%;
        transform: translateX(-30px);
    }

    .xboot-slider-area .slick-prev {
        left: 50%;
        transform: none;
    }

    .xboot-slider-area .slick-next {
        right: 50% !important;
        transform: none;
    }

    .xboot-slider-area .slick-slider:hover .slick-next {
        left: 50%;
        transform: translateX(30px);
    }

    .counter-area .col-md-3.col-sm-6:nth-child(-n+2) .single-counter {
        margin-bottom: 50px;
    }

    .price-tage-wrap {
        padding: 0;
    }

    .single-price-table {
        padding: 30px 15px;
    }

    .single-price-table.table-active {
        padding: 40px 10px 30px;
    }

    .plan-description {
        padding: 0 15px 15px;
    }

    .clients-log {
        padding: 50px 0;
    }

    .testimonial-wrapper blockquote {
        padding: 20px;
    }

    .blog-slide-content {
        padding: 40px 60px;
        width: 75%;
    }

    .sidebar-instra-widget #instafeed a {
        width: 20%;
    }

    .blog-pagination-area {
        margin-bottom: 50px;
    }

    .no-pad-area .about-me-text {
        margin: 0 0 50px;
    }

    .breadcrumb-area.breadcrumb-bg-img {
        padding: 80px 0;
    }

    .not-found-content {
        padding: 70px;
    }

    .about-me-img.text-right {
        text-align: center;
    }

    .about-standard-row .about-me-text {
        margin-top: 80px;
    }

    .service-section .col-md-3.col-sm-6:nth-child(-n+2) .single-service {
        margin-bottom: 50px;
    }

    .section-title {
        width: 80%;
    }

    .about-block-text {
        margin-bottom: 50px;
    }

    .contcat-form {
        margin-bottom: 50px;
    }

    .contact-widget-wrap {
        padding-left: 0;
    }

    .contact-section {
        background: #fff none repeat scroll 0 0;
    }

    #map {
        height: 400px;
    }

    .contact-sub-heading #instafeed a {
        display: inline-block;
        margin-bottom: 5px;
        padding: 0 2.5px;
        width: 20%;
    }

    .comment-form {
        margin-bottom: 50px;
    }

    .service-section .col-md-4.col-sm-6:nth-child(-n+2) .single-service.text-left {
        margin-bottom: 50px;
    }

    .col-md-6:nth-child(-n+1) .xboot-tab-area.clearfix {
        margin-bottom: 30px;
    }

    .project-meta-wrapper {
        margin-bottom: 30px;
    }

    .meta-right-sidebar {
        margin-top: 30px;
    }

    .subscribe-widget-wrapper {
        float: none;
    }

    .single-footer-widget {
        margin-bottom: 10px;
        min-height: 140px;
    }
}



/* -------------------------------------------------
  Small Mobile
---------------------------------------------------*/

@media (max-width: 767px) {
    .container {
        width: 300px
    }

    .portfolio-3-column .portfolio-item {
        width: 100%;
    }

    .portfolio-2-column .portfolio-item {
        width: 100%;
    }

    .portfolio-4-column .portfolio-item {
        width: 100%;
    }

    .portfolio-4-column .portfolio-item {
        width: 100%;
    }

    .portfolio-4-column .portfolio-item {
        width: 100%;
    }

    .portfolio-fullwidth .portfolio-filter-wrap {
        margin-left: 4%;
    }

    .banner-static-content {
        padding: 110px 0;
    }

    .xboot-standard-row {
        padding: 90px 0;
    }

    .footer-top {
        padding: 60px 0;
    }

    .banner-static-content p {
        width: 100%;
    }

    .banner-static-content h1 {
        font-size: 28px;
        font-weight: 900;
        line-height: 35px;
        margin-bottom: 22px;
        padding-bottom: 12px;
    }

    .portfolio-filter>li+li {
        margin-bottom: 15px;
        margin-left: 0;
    }

    .text-left .portfolio-filter>li+li {
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: 30px;
    }

    .text-left .portfolio-filter>li:first-child {
        margin-right: 30px;
    }

    .text-left .portfolio-filter>li+li.btn-shuffle {
        margin: 0;
    }

    .subscribe-widget-wrapper {
        float: left;
        margin-top: 35px;
    }

    .social-bookmark-area>ul {
        float: none;
        margin-top: 15px;
        text-align: center;
    }

    .copy-right {
        text-align: center;
    }

    .logo {
        position: relative;
        z-index: 2;
    }

    .header-style-two .logo {
        border: medium none;
        display: block;
        height: auto;
        line-height: 1;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: left;
        top: 5px;
        width: auto;
    }

    .header-style-two .header-middle-area {
        background: #ffffff none repeat scroll 0 0;
        display: block;
        padding: 30px 0 20px;
    }

    .header-style-two .mean-container .mean-bar {
        margin-top: -32px;
    }

    .slider-style-2 .banner-static-content {
        padding: 20px;
        width: 100%;
    }

    .slider-style-2 {
        padding: 100px 0;
    }

    .section-title {
        margin: 0 auto 50px;
        width: 100%;
    }

    .meta-info>li:last-child {
        margin: 0;
    }

    .meta-info>li {
        margin-bottom: 10px;
    }

    .footer-logo-area {
        margin: auto;
        width: 100%;
    }

    .footer-top-2 {
        padding: 80px 0;
    }

    .footer-style-two .social-bookmark-area li {
        padding: 0 15px;
    }

    .section-title .area-title {
        margin-bottom: 30px;
    }

    .area-title {
        font-size: 24px;
        font-weight: 900;
        line-height: 28px;
        margin-bottom: 15px;
    }

    .grid-blog-post {
        margin-bottom: 30px;
    }

    .footer-style-two .copy-right a:hover {
        color: #232323;
    }

    .slider-style-2 .cd-words-wrapper {
        display: inline-block;
        position: relative;
        text-align: center;
    }

    .xboot-slider-content>h2 {
        font-size: 24px;
    }

    .xboot-single-slider {
        padding: 200px 0;
    }

    .xboot-slider-area .slick-prev,
    .xboot-slider-area .slick-next {
        bottom: 30px;
        top: auto;
    }

    .xboot-single-slider::before {
        background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .slide-two {
        background: rgba(0, 0, 0, 0) url("../img/slider/1.jpg") repeat scroll center center / cover;
    }

    .xboot-slider-content>h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .fixed-header-space {
        height: 74px;
    }

    .col-md-4.col-sm-6:nth-child(3) .grid-blog-post {
        margin-bottom: 0;
    }

    .slider-style-four .xboot-single-slider::before {
        display: none;
    }

    .slider-style-four .xboot-slider-content>h2 {
        font-size: 34px;
    }

    .single-price-table {
        width: 100%;
        padding: 20px 0;
    }

    .testimonial-wrapper blockquote {
        padding: 20px;
    }

    .xboot-slider-area .slick-prev,
    .xboot-slider-area .slick-next {
        bottom: 30px;
        top: auto;
    }

    .xboot-slider-area .slick-slider:hover .slick-prev {
        left: 50%;
        transform: translateX(-30px);
    }

    .xboot-slider-area .slick-prev {
        left: 50%;
        transform: none;
    }

    .xboot-slider-area .slick-next {
        right: 50% !important;
        transform: none;
    }

    .xboot-slider-area .slick-slider:hover .slick-next {
        left: 50%;
        transform: translateX(30px);
    }

    .counter-area .col-md-3.col-sm-6:nth-child(-n+3) .single-counter {
        margin-bottom: 50px;
    }

    .price-tage-wrap {
        padding: 0 10px 20px;
    }

    .single-price-table.table-active {
        margin-top: 0;
    }

    .single-price-table:nth-child(-n+2) {
        margin-bottom: 30px;
    }

    .clients-log {
        padding: 40px 0;
    }

    .testimonial-wrapper .slick-prev,
    .testimonial-wrapper .slick-next {
        bottom: -45px;
        top: auto;
        z-index: 2;
    }

    .blog-slide-content {
        background: #fff none repeat scroll 0 0;
        left: 50%;
        margin-top: 20px;
        outline: medium none;
        outline-offset: 0;
        padding: 0;
        position: static;
        text-align: center;
        top: auto;
        transform: none;
        width: 100%;
    }

    .blog-slide-content h2 {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    .slider-area-5.gray-bg.xboot-standard-row {
        padding: 70px 0 80px;
    }

    .blog-masonry .grid-blog-post {
        margin-bottom: 0;
    }

    .blog-pagination-area {
        margin-bottom: 50px;
    }

    .single-post-content .blog-post-title {
        font-size: 22px;
        line-height: 30px;
    }

    .post-content-inner h3 {
        font-size: 18px;
        line-height: 28px;
    }

    .single-post-content ul:not(.meta-info) {
        padding-left: 0;
    }

    .single-post-footer .post-tags ul li {
        margin-left: 0;
        margin-right: 0;
        padding-right: 15px;
    }

    .single-post-footer .post-tags ul li:last-child {
        padding-right: 0;
    }

    .post-tags {
        display: inline-block;
        float: left;
    }

    .post-shearing {
        margin-bottom: 10px;
    }

    .single-block-option {
        float: left;
        margin-bottom: 15px;
        margin-right: 0;
    }

    .single-block-option:last-child {
        margin: 0;
    }

    .no-pad-area .about-me-text {
        margin: 0 0 50px;
    }

    .breadcrumb-area .breadcrumb-list {
        display: block;
        float: none;
        margin-top: 18px;
        overflow: hidden;
        text-align: center;
    }

    .breadcrumb-text-wrapper {
        display: block;
        text-align: center;
    }

    .breadcrumb-content .page-name {
        display: block;
        font-size: 20px;
    }

    .breadcrumb-list>li {
        display: inline-block;
        float: none;
        margin-right: 20px;
        position: relative;
    }

    .breadcrumb-area {
        padding: 60px 0;
    }

    .breadcrumb-area.breadcrumb-bg-img {
        padding: 60px 0;
    }

    blockquote {
        padding: 20px;
    }

    .not-found-content {
        padding: 30px;
        width: 100%;
    }

    .not-found-content h1 {
        font-size: 40px;
    }

    .not-found-content h3 {
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 20px;
    }

    .not-found-content.text-center>h2 {
        font-size: 20px;
    }

    .about-me-img.text-right {
        text-align: center;
    }

    .about-standard-row .about-me-text {
        margin-top: 60px;
    }

    .service-section .col-md-3.col-sm-6:nth-child(-n+3) .single-service {
        margin-bottom: 50px;
    }

    .service-section .col-md-4.col-sm-6:nth-child(-n+3) .single-service.text-left {
        margin-bottom: 50px;
    }

    .about-me-img.text-right>img {
        margin-top: 50px;
        width: 100%;
    }

    .col-md-4.col-sm-6:nth-child(-n+2) .single-member-wrapper {
        margin-bottom: 30px;
    }

    .about-block-text {
        margin-bottom: 50px;
    }

    .counter-icon {
        margin-bottom: 20px;
    }

    .contcat-form {
        margin-bottom: 50px;
    }

    .contact-widget-wrap {
        padding-left: 0;
    }

    .contact-section {
        background: #fff none repeat scroll 0 0;
    }

    #map {
        height: 400px;
    }

    .contact-sub-heading #instafeed a {
        width: 50%;
    }

    .form-head {
        margin: 0 -10px;
    }

    .single-input {
        margin-bottom: 20px;
        width: 100%;
    }

    .text-left.section-title {
        width: 100%;
    }

    .portfolio-fullwidth .portfolio-style-2.portfolio-3-column .portfolio-item:hover .item-thumbnail::before {
        transform: scale(12);
    }

    .panel-title {
        line-height: 1.5;
    }

    .single-post-content h4 {
        line-height: 1.5;
    }

    .xboot-comment-area .media {
        padding: 10px 0;
    }

    .xboot-comment-area .media-body {
        margin-top: 0;
        padding-right: 0;
        text-align: center;
    }

    .media-left,
    .media>.pull-left {
        display: block;
        margin-bottom: 20px;
        padding-right: 0;
        text-align: center;
    }

    .sub-section-title {
        line-height: 1.5;
    }

    .media-replay {
        margin-left: 0;
    }

    .input-field {
        width: 100%;
    }

    .comment-form {
        margin-bottom: 50px;
    }

    .col-md-6:nth-child(-n+1) .xboot-tab-area.clearfix {
        margin-bottom: 30px;
    }

    .nav-tabs>li {
        margin-bottom: 10px;
    }

    .xboot-tab-area .nav-tabs li a {
        border: 1px solid #e5e5e5;
    }

    .xboot-tab-area .tab-list-style-two.nav-tabs li a {
        margin-bottom: 10px;
    }

    .project-meta-wrapper {
        margin-bottom: 30px;
    }

    .single-project-title {
        line-height: 1.3;
    }

    .next-post {
        display: block;
        float: none;
        transform: none;
    }

    .button-inner-project {
        display: block;
        float: left;
        margin: 15px 0;
        width: 100%;
    }

    .post-navigation.previous-post {
        float: none;
    }

    .single-project-description {
        padding: 20px;
    }

    .related-project-slider .portfolio-item {
        float: left;
        margin-bottom: 30px;
        padding: 0 15px;
    }

    .subscriber-section h4 {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 20px;
    }

    .news-letter-section input {
        border: 1px solid #e5e5e5;
        height: 45px;
        margin-bottom: 10px;
        padding: 0 20px;
        text-align: center;
        width: 100%;
    }

    .news-letter-section button {
        margin-left: 0;
        width: 70px;
    }

    .subscribe-widget-wrapper {
        float: none;
    }

    .single-footer-widget {
        margin-bottom: 30px;
    }

    .header-style-two .mean-container .mean-bar {
        margin-top: -70px;
    }

    .header-style-two .logo a {
        line-height: 80px;
        padding-bottom: 10px;
    }

    .header-style-two .header-middle-area {
        background: #ffffff none repeat scroll 0 0;
        display: block;
        padding: 0;
    }

    .contact-sub-heading p,
    .address-text>p,
    .address-text a {
        color: #232323;
    }

    .instagram-list li {
        display: inline-block;
        width: 50%;
        padding: 5px;
    }
}

/* -------------------------------------------------
  Large Mobile :480px. 
---------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px
    }

    .slider-style-2 .banner-static-content {
        padding: 35px 15px;
        width: 100%;
    }

    .portfolio-style-2 .portfolio-item:hover .item-thumbnail::before {
        transform: scale(12);
    }

    .contact-sub-heading #instafeed a {
        width: 33.33333%;
    }
}